version: "3.9"

services:
  mysql:
    image: mysql:8.0
    environment:
      MYSQL_ROOT_PASSWORD: secret
      MYSQL_DATABASE: ai_platform
      MYSQL_USER: aiuser
      MYSQL_PASSWORD: aipassword
    volumes:
      - mysql_data:/var/lib/mysql
    networks:
      - app-network

  redis:
    image: redis:7-alpine
    volumes:
      - redis_data:/data
    networks:
      - app-network

  qdrant:
    image: qdrant/qdrant:latest
    container_name: qdrant
    restart: unless-stopped
    ports:
      - "6333:6333"
    healthcheck:
      test: ["CMD", "curl", "-sf", "http://localhost:6333/metrics"]
      interval: 10s
      timeout: 5s
      retries: 20
    volumes:
      - qdrant_data:/qdrant/storage
    networks:
      - app-network

  ollama:
    image: ollama/ollama:latest
    container_name: ollama
    restart: unless-stopped
    ports:
      - "11434:11434"
    deploy:
      resources:
        reservations:
          devices:
            - capabilities: ["gpu"]
    volumes:
      - ollama_data:/root/.ollama
    networks:
      - app-network

  ingest_service:
    build:
      context: ./ingest_service
    container_name: ingest_service
    restart: unless-stopped
    environment:
      - QDRANT_URL=http://qdrant:6333
      - OLLAMA_URL=http://ollama:11434
    ports:
      - "8001:8001"
    depends_on:
      qdrant:
        condition: service_started
    networks:
      - app-network

  backend:
    build:
      context: ./backend
    container_name: laravel_backend
    restart: unless-stopped
    environment:
      - DB_HOST=mysql
      - DB_DATABASE=ai_platform
      - DB_USERNAME=aiuser
      - DB_PASSWORD=aipassword
    volumes:
      - ./backend:/var/www/html
    depends_on:
      mysql:
        condition: service_started
      qdrant:
        condition: service_started
      ingest_service:
        condition: service_started
    networks:
      - app-network

  nginx:
    image: nginx:latest
    container_name: nginx
    restart: unless-stopped
    ports:
      - "8000:80"
    volumes:
      - ./backend:/var/www/html
      - ./nginx/default.conf:/etc/nginx/conf.d/default.conf
    depends_on:
      - backend
    networks:
      - app-network

  horizon:
    build:
      context: ./backend
    command: ["php", "artisan", "horizon"]
    working_dir: /var/www/html
    restart: unless-stopped
    depends_on:
      - backend
      - redis
    networks:
      - app-network

  frontend:
    build:
      context: ./frontend
      dockerfile: Dockerfile
      args:
        NEXT_PUBLIC_API_URL: "http://34.177.85.88:8000"
        NEXT_PUBLIC_FILE_API_URL: "http://34.177.85.88:8001"
    container_name: next_frontend
    restart: unless-stopped
    environment:
      - NEXT_PUBLIC_API_URL=http://34.177.85.88:8000
      - NEXT_PUBLIC_FILE_API_URL=http://34.177.85.88:8001
    ports:
      - "3000:3000"
    networks:
      - app-network

networks:
  app-network:

volumes:
  mysql_data:
  redis_data:
  qdrant_data:
  ollama_data:
  n8n_data:
