services:
  mysql:
    image: mysql:8
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: dtdai
    volumes:
      - mysql_data:/var/lib/mysql
    networks:
      - app-network
    healthcheck:
      test: ["CMD", "mysqladmin", "ping", "-h", "localhost"]
      interval: 5s
      retries: 10

  redis:
    image: redis:alpine
    networks:
      - app-network

  backend:
    build:
      context: ./backend
    environment:
      APP_ENV: production
      APP_KEY: base64:ATr0Lm2hEjH3cQ8xglcU8zZcy9QfwUSxqTK7eJjFB8w=
      DB_HOST: mysql
      DB_PORT: 3306
      DB_DATABASE: dtdai
      DB_USERNAME: root
      DB_PASSWORD: root
      REDIS_HOST: redis
      OLLAMA_HOST: http://ollama:11434
      QDRANT_URL: http://qdrant:6333
    depends_on:
      mysql:
        condition: service_healthy
      redis:
        condition: service_started
      qdrant:
        condition: service_started
      ollama:
        condition: service_started
    volumes:
      - storage_data:/var/www/html/storage
    networks:
      - app-network
    expose:
      - "9000"

  horizon:
    build:
      context: ./backend
      dockerfile: Dockerfile.horizon
    depends_on:
      - backend
    networks:
      - app-network

  frontend:
    build:
      context: ./frontend
      args:
        NEXT_PUBLIC_API_URL: "http://34.177.111.106"
    depends_on:
      - backend
    networks:
      - app-network
    expose:
      - "3000"

  ingest:
    build:
      context: ./ingest_service
    depends_on:
      - backend
      - qdrant
      - ollama
    networks:
      - app-network
    expose:
      - "8001"

  qdrant:
    image: qdrant/qdrant:v1.11.0
    volumes:
      - qdrant_data:/qdrant/storage
    networks:
      - app-network
    expose:
      - "6333"

  ollama:
    container_name: ollama
    image: ollama/ollama:latest
    volumes:
      - ollama_models:/root/.ollama
    networks:
      - app-network
    expose:
      - "11434"

  nginx:
    image: nginx:alpine
    ports:
      - "80:80"
    volumes:
      - ./nginx/default.conf:/etc/nginx/conf.d/default.conf
      - ./backend:/var/www/html
    depends_on:
      - frontend
      - backend
    networks:
      - app-network

networks:
  app-network:

volumes:
  mysql_data:
  storage_data:
  qdrant_data:
  ollama_models:
